/* Reset de base pour normaliser les styles entre différents navigateurs */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Importation des polices personnalisées */
@font-face {
  font-family: "LilGrotesk";
  src: url("./assets/fonts/lilgrotesk-regular-webfont.woff2") format("woff2"),
    url("./assets/fonts/lilgrotesk-regular-webfont.woff") format("woff"),
    url("./assets/fonts/LilGrotesk-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LilGrotesk";
  src: url("./assets/fonts/lilgrotesk-bold-webfont.woff2") format("woff2"),
    url("./assets/fonts/lilgrotesk-bold-webfont.woff") format("woff"),
    url("./assets/fonts/LilGrotesk-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

/* Styles pour le corps de la page */
body {
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.6; /* Une bonne hauteur de ligne pour améliorer la lisibilité */
  color: #333; /* Couleur du texte */
  background-color: #f4f4f4; /* Couleur de fond de la page */
}

/* Styles pour les titres h1 à h6 */
h1,
h2,
h3 {
  font-family: "LilGrotesk", "Noto Sans", Arial, sans-serif;
}

h1,
h2,
h3 {
  /* Plus grand titre, souvent en gras */
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem; /* Ajoute un espace sous les titres */
  /* Rend les titres légèrement plus foncés que le texte normal */
}

/* Styles pour les liens */
a {
  color: #0077cc; /* Couleur des liens */
  text-decoration: none; /* Supprime le soulignement par défaut */
}

a:hover,
a:focus {
  text-decoration: underline; /* Ajoute un soulignement lors du survol ou de la mise au point */
}

/* Styles pour les images */
img {
  max-width: 100%; /* Les images ne dépassent pas leur conteneur */
  height: auto; /* Garde les proportions de l'image intactes */
}

/* Styles utiles pour le développement */
div,
section,
article {
  padding: 10px; /* Un peu de padding à l'intérieur des boîtes */
}

/* STYLE TEST */

html {
  font-size: 16px;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
  margin: 0;
  background-color: #091c3b;
}

.branding {
  padding-bottom: 1em;
}

#accueil {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.brand {
  font-family: "Jersey 25", sans-serif;
  font-size: 3em;
  font-weight: 400;
  color: #fbd304;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.logo {
  height: 3em;
  display: none;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  font-family: "LilGrotesk", "Noto Sans", Arial, sans-serif;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}

.menu ul {
  display: flex;
  list-style-type: none;
  gap: 1em;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}

#about {
  display: flex;
  flex-direction: column;
  gap: 1.1em;
  padding: 1.1rem;
}

#competences {
  display: flex;
  flex-direction: column;
  gap: 1.1em;
  padding: 1.1rem;
}

#projets {
  display: flex;
  flex-direction: column;
  gap: 1.1em;
  padding: 1.1rem;
}

.projet-cards {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 1.1em;
  padding: 0;
}

.projet {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: #222 solid 1px;
  border-radius: 12px;
  padding: 0;
  box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.4);
}

.sophiebluel {
  background-color: #b1663c;
}

.ohmyfood {
  background-color: #7459a2;
}

.cinematch {
  background-color: #03a062;
}

.projet-half {
  flex: 1;
}

.projet-texte,
.projet-pres {
  flex: 1;
}

.projet-texte {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  border-radius: 12px 12px 0 0;
  padding: 1.5rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}
.projet-texte h3 {
  margin: 0;
}

/* Bouton du projet Sophie Bluel */
.sophiebluel .repo-link {
  background-color: #b1663c;
}

/* Bouton du projet Ohmyfood */
.ohmyfood .repo-link {
  background-color: #7459a2;
}

/* Bouton du projet Cinematch */
.cinematch .repo-link {
  background-color: #03a062;
}

/* Bouton projet */
.repo-link {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.8rem;
  border: #f4f4f4 solid 1px;
  border-radius: 20px;
  color: #f4f4f4;
  text-decoration: none;
  margin: 1em;
}
.repo-link p {
  font-size: 0.8rem;
  font-weight: bold;
}

.projet-pres {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  padding: 1.5rem;
}
.img-projet {
  padding: 3rem;
  max-height: 150px;
}

.technos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
  gap: 0.8rem;
  padding: 0;
}

.projets-voir-plus {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.8rem;
  border: #091c3b solid 1px;
  border-radius: 20px;
  color: #091c3b;
  text-decoration: none;
  margin: 1em;
}

.projets-voir-plus p {
  font-size: 0.95rem;
  font-weight: 800;
}

/************************************** Timeline **************************************/

/* Définition de la couleur de fond et de la typographie pour le corps de la page */
#parcours {
  background-color: #fbd304;
}

/* Configuration de la ligne verticale de la frise chronologique */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 31px;
  margin-left: -3px;
  border-radius: 0.5rem;
}

/* Styles des conteneurs pour les éléments de la frise */
.experience {
  padding: 10px 25px 10px 70px;
  position: relative;
  background-color: inherit;
  width: 100%;
}

.experience::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.experience::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #091c3b;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Positionnement des conteneurs à gauche et à droite */
.timeline-left {
  left: 0;
}

.timeline-right {
  left: 0%;
}

.timeline-left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.timeline-right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.timeline-left::after,
.timeline-right::after {
  left: 15px;
}

/* Styles pour le contenu dans les conteneurs */
.timeline-infos {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 0.8rem;
}

/************************************** Footer **************************************/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

#copyright {
  font-size: 0.8rem;
  font-weight: 900;
}

/* Bouton de retour en haut */
#backToTop {
  display: none;
  position: fixed;
  bottom: 3rem;
  right: 1rem;
  padding: 20px;
  background-color: #091c3b;
  color: white;
  border: 2px solid #fbd304;
  border-radius: 50%;
  font-size: 12px;
  width: 3.8rem;
  height: 3.8rem;
  cursor: pointer;
}

/* ==========================================================================
   RESPONSIVE DESIGN
   Adaptations spécifiques pour différentes tailles d'écran
   ========================================================================== */

/************************************** Smartphones **************************************/
/* ********** XS · max 428 dp ********** */
@media only screen and (min-width: 320px) {
  /* Styles pour très petits écrans et mode zoom iOS */
}

@media only screen and (min-width: 360px) {
  /* Styles pour smartphones */
}

@media only screen and (min-width: 375px) {
  /* Styles pour iPhone 6-8 */
}

@media only screen and (min-width: 390px) {
  /* Styles pour iPhone modernes */
}

@media only screen and (min-width: 428px) {
  /* Styles pour iPhone Plus & Max modernes */
}

/* ********** S · 428 - 600 dp ********** */
@media only screen and (min-width: 480px) and (max-width: 600px) {
  /* Styles adaptés pour les petits smartphones plus grands (S) */
}

/* ********** M · 601 - 768 dp ********** */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  /* Styles spécifiques pour les appareils de taille moyenne (M) */
}

/************************************** Tablettes **************************************/
/* ********** L · 768 - 1024 dp ********** */
@media only screen and (min-width: 768px) {
  /* Styles pour tablettes en portrait */
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.5rem;
  }

  .logo {
    display: block;
  }

  .projet {
    flex-direction: row;
  }

  .projet-texte {
    border-radius: 12px 0 0 12px;
    gap: 1.5rem;
  }

  .projet-pres {
    justify-content: space-around;
  }

  /***** Timeline *****/
  .timeline::after {
    left: 50%;
  }

  .experience {
    padding: 10px 40px;
    width: 50%;
  }

  .experience::before {
    left: auto;
  }

  .timeline-right {
    left: 50%;
  }

  .timeline-left::before {
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }

  .timeline-right::before {
    left: 30px;
  }

  .timeline-left::after {
    left: auto;
    right: -16px;
  }

  .timeline-right::after {
    left: -16px;
  }
}

@media only screen and (min-width: 992px) {
  /* Styles pour tablettes en paysage et petits laptops */
}

@media only screen and (min-width: 1024px) {
  /* Styles pour dispositifs autour de 1024px */
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.75rem;
  }

  .projet-texte,
  .projet-pres {
    padding: 4rem;
    gap: 2rem;
  }

  .repo-link:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
    text-decoration: none;
  }

  /* Bouton de retour en haut */
  #backToTop {
    width: 4.5em;
    height: 4.5em;
    opacity: 0.7;
  }

  #backToTop:hover {
    opacity: 1;
  }
  #backToTop:focus {
    outline: 2px solid red;
  }
}

/************************************** Desktop **************************************/
/* ********** XL · 1025 - 1440 dp ********** */
@media only screen and (min-width: 1280px) {
  /* Styles pour grands écrans de bureau */
}

@media only screen and (min-width: 1360px) {
  /* Styles pour MacBook 13" */
}

/* ********** XXL · min 1441 dp ********** */
@media only screen and (min-width: 1440px) {
  /* Styles pour MacBook 15" */
}

@media only screen and (min-width: 1920px) {
  /* Styles pour écrans extra-larges */
}

@media only screen and (min-width: 2560px) {
  /* Styles pour écrans extra-larges */
}
